.wrapper {
	display: flex;
	width: 85%;
	flex-direction: row;
	align-items: center;
	padding: 8px 10px;
	cursor: pointer;
	justify-content: space-between;
}
.media-left {
	width: 52px;
	height: 52px;
	margin-right: 10px;
	position: relative;
	.media-img {
		border-radius: 4px;
		height: 100%;
		object-fit: cover;
	}
}

.media-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: center;
	justify-content: center;
	line-height: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: none;
	white-space: nowrap;
	.name-song {
		font-size: 1.5rem;
		color: var(--black);
		font-weight: 600;
		text-align: left;
		word-wrap: break-word;
	}

	.name-singer {
		font-size: 1.3rem;
		color: var(--text-secondary);
	}
}
.media-right {
	display: flex;
	.tippy {
		font-size: 1.1rem;
	}
	.icon-playing {
		font-size: 1.6rem;
		color: var(--black);
		margin-left: 20px;
	}
}
