.wrapper {
	display: flex;
	flex-direction: row;
	background-image: url(../../assets/images/iu.jpg);
	background-size: 1920px auto;
	background-repeat: repeat;
	width: 100%;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	padding: 0 var(--padding-main);
	width: calc(100% - 237px);
}
.content {
	padding-top: 20px;
}
