.wrapper {
	display: flex;
	flex-direction: row;
	background-image: url(../../assets/images/iu.jpg);
	background-size: 1920px auto;
	background-repeat: repeat;
	width: 100%;
	justify-content: center;
}

.container {
	margin-top: var(--padding-main);
	display: flex;
	flex-direction: column;
	padding: 0 var(--padding-main);
	padding-top: 20px;
	width: calc(100% - 237px);
	height: calc(100vh - 90px);
	overflow-y: scroll;
}
.content {
	padding: 20px 0;
}
