.wrapper {
	display: flex;
	flex-direction: row;
	background-image: url(../../assets/images/iu.jpg);
	background-size: 1920px auto;
	background-repeat: repeat;
	width: 100%;
	justify-content: center;
}

.container {
	margin-top: var(--padding-main);
	display: flex;
	flex-direction: column;
	padding: 0 var(--padding-main);
	padding-top: 20px;
	width: calc(100% - 237px);
	height: calc(100vh - 88px);
	overflow-y: scroll;
}
.content {
	padding: 20px 0 0 0;
}
.playing {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

// tablet
@media screen and (min-width: 740px) and (max-width: 1023px) {
	.container {
		width: calc(100% - 70px);
	}
}
// pc
@media screen and (min-width: 1024px) {
}
// mobile
@media screen and (max-width: 739px) {
	.wrapper {
		background: #fcfcfc;
	}
	.container {
		width: 100%;
		padding: 20px;
	}
	.playing {
		z-index: 1;
	}
}
