.wrapper {
	padding-bottom: 200px;
	:global(.swiper-button-prev),
	:global(.swiper-button-next) {
		width: 55px;
		height: 55px;
		border-radius: 50%;
		background-color: hsla(0, 0%, 100%, 0.15);
		opacity: 0;
	}
	:global(.swiper-button-prev::after),
	:global(.swiper-button-next::after) {
		color: white;
		font-size: 2.7rem;
	}
	user-select: none;
}

.swiper {
	width: auto;
	&:hover {
		:global(.swiper-button-prev),
		:global(.swiper-button-next) {
			opacity: 1;
		}
	}
	.swiper-image {
		width: 331px;
		height: 193px;
		padding: 15px 0;
		overflow: hidden;
		& img {
			border-radius: 10px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.swiper-slide {
		border-radius: 10px;
	}
}

//new section
.new-section {
	margin-top: 30px;
	.section-title {
		margin-bottom: 16px;
		font-size: 2.1rem;
	}
	.section-select-song {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		text-align: center;
		.section-left {
			display: flex;
		}
	}
}
.icon-btn {
	font-size: 1.6rem;
	color: var(--black);
	margin-left: 10px;
	display: inline-block;
	transform: translateY(2px);
}

.list-new-song {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	height: 220px;
	overflow: hidden;
}

.list-new-song-2 {
	display: none;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	height: 220px;
	overflow: hidden;
}
//zing chart

.zing-chart {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 8px;
	border: 1px solid var(--hover-tooltip-opacity);
	.chart-top {
		display: flex;
		letter-spacing: normal;
		color: var(--white);
		font-weight: 700;
		font-size: 2.8rem;
		align-items: center;
		text-align: center;
		.title-chart {
			background: radial-gradient(
					50% 124.93% at 95.86% -10%,
					#3efad9 0,
					hsla(0, 0%, 100%, 0) 100%
				),
				linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.icon-chart {
			font-size: 10px;
			padding: 5px;
			background-color: #fff;
			border-radius: 50%;
			color: var(--black);
			margin-left: 15px;
		}
	}
	.container-chart {
		display: flex;
		margin-top: 20px;
		.song-chart {
			display: flex;
			flex-direction: column;
			width: 33.333%;
			margin-top: 20px;
		}
		.button-chart {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.4rem;
			margin-top: auto;
		}
	}
	.chart-right {
		flex-grow: 1;
	}
}
