.wrapper {
	cursor: pointer;
	background-color: var(--layout-bg) !important;

	:global(.rhap_progress-filled) {
		background-color: var(--purple-primary);
	}
	:global(.rhap_progress-indicator) {
		background-color: var(--purple-primary);
		width: 13px;
		height: 13px;
		top: -5px;
	}
	:global(.rhap_download-progress) {
		background-color: var(--progressbar-player-bg);
	}
	:global(.rhap_progress-bar) {
		height: 3px;
	}
	:global(.rhap_additional-controls) {
		display: flex;
		justify-content: flex-end;
	}
	:global(.rhap_current-time) {
		color: var(--text-secondary);
	}
}
:global(.rhap_container) {
	display: flex !important;
	flex-direction: row !important;
	box-sizing: border-box;
	padding: 10px 70px 10px 15px !important;
	:global(.rhap_header) {
		width: 30%;
		display: flex;
		align-items: center;
		margin: 0;
	}
}
:global(.rhap_volume-bar-area) {
	:global(.rhap_volume-bar) {
		background-color: rgba(0, 0, 0, 0.1);
		:global(.rhap_volume-indicator) {
			opacity: 0;
		}
		:global(.rhap_volume-filled) {
			background-color: var(--purple-primary);
		}
	}
}
@media screen and (max-width: 739px) {
	:global(.rhap_header) {
		display: none !important;
	}
	:global(.rhap_container) {
		padding: 10px 20px !important;
		background-color: #fcfcfc !important;
	}
}
