.wrapper {
	display: flex;
	// padding-top: -90px;
	user-select: none;
}

.container-right {
	margin-left: 20px;
	width: 100%;

	overflow-y: scroll;
	.title-table {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 30px 20px 30px;
		font-size: 1.2rem;
		color: var(--text-secondary);
		border-bottom: 1px solid var(--border-secondary);
		.songs {
			width: 50%;
		}
		.albums {
			margin-right: auto;
		}
	}
}
