.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	position: fixed;
	top: 0;
	right: 0;
	left: 239px;
	background-color: var(--layout-bg);
	box-shadow: 0 3px 5px var(--sticky-header-box-shadow);
	z-index: 999;
	min-width: 660px;
	padding: 0 var(--padding-main);
}
.logo {
	display: none;
	align-items: center;
}
.header-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 760px;
	flex-grow: 1;
	color: var(--text-placeholder);
}
.header-sort {
	display: none;
}
.icon {
	font-size: 2.4rem;
	color: var(--black);
	margin-right: 20px;
	line-height: 66%;
	cursor: pointer;
}
.header-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-theme,
.header-icon-vip,
.header-icon-upload,
.header-icon-setting,
.header-avatar,
.avatar-default {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--alpha-bg);
	border-radius: 999px;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
}
.header-icon-upload {
	position: relative;
}
.header-upload {
	position: absolute;
	opacity: 0;
	width: 35px;
}

.tippy-size {
	font-size: 1.1rem;
}
.icon-right {
	font-size: 2rem;
}

.avatar,
.img-default {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

//header-menu
.header-menu {
	border-radius: 8px;
	overflow: hidden;
}

.wrapper-menu {
	display: flex;
	align-items: center;
	width: 240px;
	justify-content: flex-start;
	padding: 12px 20px 12px 17px;
}
.icon-header-menu {
	font-size: 20px;
	margin-right: 10px;
}
.menu-title {
	font-size: 1.4rem;
	color: var(--text-primary);
}
.icon-header-menu-right {
	margin-left: auto;
}

//option header
.header-menu-second {
	box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
	width: 103%;
	background-color: var(--primary-bg);
	border-radius: 8px;
}
.option-header {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.option-top,
.option-bottom {
	height: 70px;
	display: flex;
	padding: 0 10px;
	align-items: center;
	width: 100%;
	justify-content: flex-start;
	color: var(--text-primary);
	cursor: pointer;
	user-select: none;
	&:hover {
		background-color: var(--alpha-bg);
	}
}

.option-top {
	margin-bottom: 10px;
}

.option-item {
	width: 87%;
	text-align: left;
}
.option-title {
	font-weight: 700;
}
.option-desc {
	margin-top: 6px;
	line-height: 1.5;
	font-size: 12px;
	color: var(--text-secondary);
}
.icon-option-1 {
	margin-left: 10px;
	color: var(--text-hover);
	display: none;
}
.icon-option-2 {
	margin-left: 10px;

	color: var(--text-hover);
	display: block;
}

.menu-line {
	height: 1px;
	width: 100%;
	border-bottom: 1px solid var(--border-primary);
}

//option-2
.wrapper-option-2 {
	width: 103%;
	background-color: var(--primary-bg);
	border-radius: 8px;
	padding: 10px 0;
	box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
	color: var(--black);
}
.option-2-item {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	padding: 12px;
	cursor: pointer;
	&:hover {
		background-color: var(--alpha-bg);
		color: var(--text-hover);
	}
}
.icon-menu-option {
	font-size: 1.6rem;
	margin-left: 10px;
	color: var(--text-hover);
}

.option-3-item {
	width: 240px;
}

// tablet
@media screen and (min-width: 740px) and (max-width: 1023px) {
	.wrapper {
		left: 72px;
	}
}

@media screen and (max-width: 739px) {
	.wrapper {
		z-index: 2;
		left: 10px;
		right: 30px;
		background: #fcfcfc;
		box-shadow: none;
		min-width: 0;
		padding: 0;
	}
	.header-left {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	.header-sort {
		display: block;
	}
	.logo {
		display: flex;
		align-items: center;
	}
	.back-btn-header,
	.forward-btn-header {
		display: none;
	}
	.header-right {
		display: none;
	}
}
