.wrapper {
	display: flex;
	min-width: 380px;
	width: 100%;
	flex-direction: row;
	align-items: center;
	padding: 8px 10px;
	height: 70px;
	cursor: pointer;
	&:hover {
		background-color: var(--item-bg-hover);
		border-radius: 6px;
		.btn-play {
			display: block;
		}
		.icon-more {
			display: block;
		}
		.song-time {
			display: none;
		}
	}
	&:nth-child(1) {
		.number-item {
			-webkit-text-stroke: 1px #4a90e2;
		}
	}
	&:nth-child(2) {
		.number-item {
			-webkit-text-stroke: 1px #50e3c2;
		}
	}

	&:nth-child(3) {
		.number-item {
			-webkit-text-stroke: 1px #e35050;
		}
	}
}
.border-bottom {
	&.wrapper {
		border-bottom: 1px solid var(--btn-play-hover);
	}
}
.number {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	margin-right: 10px;
	color: var(--song-item-action);

	.number-item {
		font-weight: 700;
		text-align: center;
		width: 60px;
		color: rgba(74, 144, 226, 0);
		-webkit-text-stroke: 1.5px var(--black);
		opacity: 0.7;
	}
}

.result-image {
	width: 52px;
	height: 52px;
	margin-right: 10px;
	position: relative;
	&:hover {
		.btn-play {
			display: block;
		}
	}
	.image {
		border-radius: 4px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.btn-play {
		display: none;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		border-radius: 4px;
		left: 0;
		background-color: var(--btn-play-hover);
		text-align: center;
		cursor: pointer;
	}
	.icon-play {
		font-size: 2rem;
		color: var(--white);
	}
	.action-playing {
		position: absolute;
		top: 0;
		border-radius: 4px;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--song-item-action);

		.action-play {
			width: 20px;
			height: 20px;
			object-fit: cover;
		}
	}
}
.result-desc {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	height: 100%;
	width: 70%;
	margin-right: -30%;
	.name-song {
		font-size: 1.5rem;
		color: var(--black);
		font-weight: 600;
		width: 55%;
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.name-singer {
		font-size: 1.3rem;
		color: var(--text-secondary);
		text-align: left;
		width: 70%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
.detail-songs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
	color: var(--song-item-action);
	font-size: 1.2rem;
}

.active {
	.name-song {
		font-size: 1.4rem;
	}
	.name-singer {
		font-size: 1.2rem;
	}
	.result-image {
		width: 40px;
		height: 40px;
	}
}

.tippy-more {
	font-size: 1rem;
}
.icon-more {
	margin-left: auto;
	color: var(--text-primary);
	border-radius: 50%;
	margin-right: 5px;
	display: none;

	&:hover {
		background-color: var(--alpha-bg);
	}
}

//active action
.action {
	&.wrapper {
		background-color: var(--alpha-bg);
		border-radius: 6px;
	}
	&:hover {
		& .btn-play {
			display: none;
		}
	}
}
.active-border {
	&.wrapper {
		border-bottom: 1px solid var(--border-secondary);
	}
}
// pc
@media screen and (min-width: 1280px) {
	.wrapper {
		min-width: 290px !important;
	}
}
// laptop
@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.wrapper {
		min-width: 260px !important;
	}
}
// tablet
@media screen and (min-width: 740px) and (max-width: 1023px) {
	.wrapper {
		min-width: 260px !important;
	}
	.result-desc {
		width: 30%;
	}
	.detail-songs {
		margin-left: 30%;
		.song-album {
			width: 70%;
		}
	}
	.name-song {
		width: 90% !important;
	}
}
// mobile
@media screen and (max-width: 739px) {
	.wrapper {
		min-width: 0 !important;
		&:hover {
			.icon-more {
				display: none;
			}
		}
	}
	.number {
		font-size: 2rem;
		.number-item {
			width: 30px;
		}
	}
	.result-desc {
		width: 50%;
	}
	.detail-songs {
		justify-content: flex-end;
	}
	.song-album {
		display: none;
	}
	.name-song {
		width: 100% !important;
	}
}
