.wrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
	user-select: none;
	overflow: hidden;
	.label-album {
		margin: 24px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.content-album {
		display: grid;
		margin: 0 -12px;
		grid-template-columns: repeat(5, 1fr);
	}
}
// laptop
@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.content-album {
		grid-template-columns: repeat(4, 1fr) !important;
	}
}
// tablet
@media screen and (min-width: 740px) and (max-width: 1023px) {
	.content-album {
		grid-template-columns: repeat(3, 1fr) !important;
	}
}
// mobile
@media screen and (max-width: 739px) {
	.content-album {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}
