.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 12px;
	overflow: hidden;
}

.album-img {
	width: 100%;
	height: 180px;
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	&:not(:hover) {
		.image {
			transition: all 0.6s;
		}
	}
	&:hover {
		user-select: none;
		.action-play {
			display: flex;
		}
		.image {
			transform: scale(1.1);
			transition: all 0.6s;
		}
	}
	.image {
		border-radius: 4px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.album-desc {
	display: flex;
	width: 100%;
	margin-top: 8px;
	flex-direction: column;
	.album-title {
		text-transform: none;
		font-size: 1.4rem;
		font-weight: 700;
		margin-top: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
	}
	& > p {
		margin: 8px 0;
		user-select: none;
		font-size: 1.4rem;
		color: var(--text-secondary);
	}
}

//action hover
.action-play {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	align-items: center;
	justify-content: space-around;
	color: var(--white);
	border-radius: 4px;
	background-color: var(--btn-play-hover);
	.btn-play {
		background-color: transparent;
		color: var(--white);
		font-size: 5rem;
		cursor: pointer;
	}
	.icon-action-like,
	.icon-action-more {
		font-size: 2rem;
		display: block;
		border-radius: 50%;
		padding: 6px 5px 2px 5px;
		&:hover {
			background-color: var(--hover-tooltip-opacity);
		}
	}
}

//tippy custom
.tippy-size {
	font-size: 1rem;
}
@media screen and (min-width: 740px) and (max-width: 1023px) {
}
// mobile
@media screen and (max-width: 739px) {
}
