.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 237px;
	width: 100%;
	background-color: var(--sidebar-bg);
	height: calc(100vh - 88px);
	overflow: hidden;
	padding: 10px 0 0 0;
	margin-right: -2px;
	position: relative;
}

.logo {
	display: flex;
	align-items: center;
	width: 240px;
	height: 90px;
	padding: 0 25px 15px 28px;
	border-left: 3px solid transparent;
}
.logo-res {
	display: none;
	margin: 0 auto;
	width: 45px;
	height: 45px;
	background-image: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.7.19/static/media/icon_zing_mp3_60.f6b51045.svg);
}
.box-user {
	width: 100%;
	display: none;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
	.user-login {
		font-weight: 600;
	}
	.img-default {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		object-fit: cover;
		margin-right: 20px;
	}
}
.sidebar-menu {
	width: 100%;
	margin-bottom: 15px;
}

.icon {
	font-size: 2.4rem;
}

.sidebar-line {
	height: 1px;
	width: 80%;
	border-bottom: 1px solid var(--border-primary);
}
.sidebar-scrollbar {
	overflow-y: auto;
}
.vip-banner-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px 20px;
	padding: 15px 8px;
	background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
	border-radius: 8px;
	.text-banner {
		color: var(--white);
		font-size: 12px;
		margin-bottom: 10px;
		font-weight: 600;
		line-height: 1.67;
	}
	.button-banner {
		background-color: #ffdb00;
		border-color: #ffdb00;
		display: inline-block;
		padding: 6px 35px;
		font-size: 12px;
		font-weight: 700;
		border-radius: 20px;
	}
}

.scrollbar-bottom {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	.scrollbar-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 26px;
		font-weight: 600;
		color: var(--text-primary);
		text-transform: uppercase;
		margin: 0 28px 0;
		white-space: nowrap;
		&:hover {
			.icon-btn {
				display: block;
			}
		}
	}
}
.icon-btn {
	display: none;
	padding: 6px;
}
.icon-edit {
	cursor: pointer;
}

.create-newlist {
	width: 100%;
	left: 0;
	height: 113px;
	border-top: 1px solid var(--border-primary);
	padding: 0 28px;
	border-radius: 0;
	display: flex;
	align-items: center;
	color: var(--text-primary);
	font-weight: 600;
	cursor: pointer;
	bottom: 0;
	&:hover {
		.newlist-title {
			color: var(--text-hover);
		}
	}
	.newlist-title {
		margin-left: 10px;
	}
}
.icon-add {
	font-size: 1.6rem;
}
.go-right {
	display: none;
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 999px;
	background-color: var(--alpha-bg);
	bottom: 10px;
	align-items: center;
	justify-content: center;
}

// pc
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
}
//tablet
@media screen and (min-width: 740px) and (max-width: 1023px) {
	.wrapper {
		width: 70px;
		background-color: #fff;
	}
	.logo {
		width: 100%;
		padding: 0;
		height: 70px;
	}
	.logo-item {
		width: 70px;
		display: none;
	}
	.logo-res {
		display: flex;
		margin-bottom: 10px;
	}
	.vip-banner-sidebar {
		display: none;
	}
	.create-newlist {
		display: none;
	}
	.sidebar-scrollbar {
		overflow-y: auto;
	}
	.scrollbar-bottom {
		.scrollbar-title {
			display: none;
		}
	}
	.go-right {
		display: flex;
	}
}

// mobile
@media screen and (max-width: 739px) {
	.wrapper {
		background: #fcfcfc;
		z-index: 999;
		position: fixed;
		display: none;
		left: 0;
		top: 0;
		max-width: 90% !important;
	}
	.logo {
		width: 100%;
	}
	.logo-item {
		display: none;
	}
	.box-user {
		display: flex;
	}
	.sidebar-scrollbar,
	.sidebar-line,
	.create-newlist {
		display: none;
	}
}
