.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 237px;
	width: 100%;
	background-color: var(--sidebar-bg);
	height: calc(100vh - 90px);
	overflow: hidden;
	padding: 10px 0 0 0;
	margin-right: -2px;
}

.logo {
	display: flex;
	align-items: center;
	width: 240px;
	height: 90px;
	padding: 0 25px 15px 28px;
	border-left: 3px solid transparent;
}
.sidebar-menu,
.sidebar-scrollbar {
	width: 100%;
	margin-bottom: 15px;
}

.icon {
	font-size: 2.4rem;
}

.sidebar-line {
	height: 1px;
	width: 80%;
	border-bottom: 1px solid var(--border-primary);
}
.sidebar-scrollbar {
	overflow-y: auto;
}
.vip-banner-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px 20px;
	padding: 15px 8px;
	background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
	border-radius: 8px;
}
.text-banner {
	color: var(--white);
	font-size: 12px;
	margin-bottom: 10px;
	font-weight: 600;
	line-height: 1.67;
}
.button-banner {
	background-color: #ffdb00;
	border-color: #ffdb00;
	display: inline-block;
	padding: 6px 35px;
	font-size: 12px;
	font-weight: 700;
	border-radius: 20px;
}

.scrollbar-bottom {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
}
.scrollbar-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 26px;
	font-weight: 600;
	color: var(--text-primary);
	text-transform: uppercase;
	margin: 0 28px 8px;
	white-space: nowrap;
	&:hover {
		.icon-btn {
			display: block;
		}
	}
}
.icon-btn {
	display: none;
	padding: 6px;
}
.icon-edit {
	cursor: pointer;
}

.create-newlist {
	position: fixed;
	width: 237px;
	left: 0;
	height: 54px;
	border-top: 1px solid var(--border-primary);
	padding: 0 28px;
	border-radius: 0;
	display: flex;
	align-items: center;
	background-color: var(--sidebar-bg);
	color: var(--text-primary);
	font-weight: 600;
	bottom: 37px;
	cursor: pointer;
	&:hover {
		.newlist-title {
			color: var(--text-hover);
		}
	}
}
.icon-add {
	font-size: 1.6rem;
}
.newlist-title {
	margin-left: 10px;
}
